* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* PALETA DE COLORES
.Children's-Book-|-Era-Uma-Vez-O-Meu-Quarto-1-hex { color: #4C3073; }
.Children's-Book-|-Era-Uma-Vez-O-Meu-Quarto-2-hex { color: #065473; }
.Children's-Book-|-Era-Uma-Vez-O-Meu-Quarto-3-hex { color: #61A641; }
.Children's-Book-|-Era-Uma-Vez-O-Meu-Quarto-4-hex { color: #F2D57E; }
.Children's-Book-|-Era-Uma-Vez-O-Meu-Quarto-5-hex { color: #F2220F; } */
h1{
	text-align: center;
	font-family:serif;
	color: #d9ff00;
	margin-top: 2%;
}
#modo{
	color: white;
	font-size:x-large;
	margin-right: auto;
}

.banner{
	margin-left: -10%;
	margin-bottom: 10%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: rgb(22, 22, 22);
	color: #000000;
}
.navbar{
	background-color: #242322 !important;
}
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}
.btn-peliculas{
	background-color:rgb(22, 22, 22);
	color: rgb(255, 255, 255);
}
.btn-peliculas:hover{
	background-color:rgb(41, 41, 41);
	color: rgb(255, 255, 255);
}
.btn-volver {
	margin-left: 8%;
	background-color:#f2f2f2;
}
.btn-volver:hover{
	background-color: #d9ff00;
	color:black;
}
.barra{
	background-color: #242322;
}
.logo{
	color: #d9ff00;
	text-transform: uppercase;
	margin: 15px;
}
.logo:hover{
	color: #ffffff;
	
}
.btn-buscar{
	background-color: #d9ff00;
	color: rgb(0, 0, 0);
}
.btn-buscar:hover{
	background-color: #ffffff;
	color: rgb(0, 0, 0);
}
.detalleCard{
	padding: 8px!important ;
	margin: auto;
}

.like_btn{
	border: none;
	background-color: white;
}
.eliminarFavBtn{
	border-color: #242322;
	margin-left: 8%;
	background-color:white;
}
.eliminarFavBtn:hover{
	background-color: #d9ff00;
	color:black;
}
.btn-vf{
	color: #d9ff00;
	text-decoration: none;
	margin-right: 15px;
	width: auto;
	padding: 15px;
}
.btn-vf:hover{
	color: white;
}


@media only screen and (max-width: 470px){
	.contenedor{
		grid-template-columns: repeat(1, 1fr);
	}
	.banner{
		display: contents;
		text-align: center;
	}
	.card{
	margin-left: 14%;
	}
	.carousel-inner{
		padding: 2%;
	}
	.lead{
		text-align: center !important;
	}
}


